:root{
    /*propeidad color-schema: light dark para poder usar light-dark('colorLigth','colorDark')*/
    color-scheme: light dark;
    --color-titles-dark: hsl(222, 63%, 58%);
    --color-titles-light: hsl(232, 95%, 44%);
    --color-btn--dark:hsl(225, 42%, 58%);
    --color-btn--light:hsl(225, 71%, 50%);
    
    --border-color-dark: hsl(0, 0%, 83%);
    --border-color-light: hsl(0, 0%, 59%);

    --border-featue-dark: 1px solid hsl(60, 7%, 3%);

    --text-weight: 300;

    --titulos-tamanyo: 1.9rem;
    --interlineado-light: 5rem;
    --suavizado--card:5px;
}

*{
    /*restablecesmos los margin paddin por defecto y qplicamos borde-box a todos los elementos*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
h1{
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr;

    gap:1.5rem;
    max-width: 80vw;
    margin: 0 auto;

    /**/
    

    .card{

        display: flex;
        flex-direction: column;

        border-radius: var(--suavizado--card);
        box-shadow:  2px 2px 4px light-dark( hsl(0, 0%, 68%), hsl(0, 0%, 31%));
        /**/
        transition: transform 0.4s ease-out;

        &:hover{
            transform: scale(1.05);
        }
        /*Aplica un borde distinto a aquellos cards que no sean featured*/

        &:not(.featured){
            border: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
        }
        /*• Si una tarjeta contiene una imagen, aplica un estilo al contenido*/
        &:has(img){
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-bottom: 1px  solid light-dark(var(--border-color-light), var(--border-color-dark));
                padding-bottom: 0.5rem;
                border-radius: 0 var(--suavizado--card) 0 0;
            }
        }

        .card-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:1rem;
            p{
                line-height: light-dark(7rem,3rem);
                flex-grow: 1;
            }
        }


    }


    @media (min-width:600px) {
        &{
            grid-template-columns: repeat(2,1fr);
        }
    }
    
    @media (min-width: 900px) {
        &{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

/*Aplica el mismo color para los h1 y h2*/
:where(h1,h2){
    color: light-dark(var(--color-titles-light),var(--color-titles-dark));
}

.card-content :is(a){
    background-color: light-dark(var(--color-btn--light),var(--color-btn--dark));
}


