* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*repartir el espacio*/
    justify-content: space-between;
    /*align-items: center;*/
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #2c3e50;
}




/*AndresGiraldoB Semipresencial*/
/*ajuste de contenedores*/
.main-header{
    background-color: #fff;
    box-shadow: 2px 2px 15px #e5e5e5;
    /*ocupar espacio del padre body*/
     flex:0.2 0.2 100%;/*tamaño inicial crecimiento y deccrecimiento*/ 
    /*aplicar display flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;/*alinear en horizontal*/
    align-items: center;/*alinear items en vertical*/
    /*paddin para corregir espacio inicial y final*/
    padding-left: 20px;
    padding-right: 20px;
    /*aplicar display al menu*/
    .main-menu{
        font-weight: 600;
        /*aplicamos display flex*/
        display: flex;
        justify-content: space-evenly;
         /*sseparacion entre elementos*/
        gap: 15px;

        /*submenu ocultar y mostrar*/
        .menu-item-has-submenu{

            .submenu{
                /*visibility: collapse;*/
                display: none;
            }

            &:hover{
                .submenu{
                    /*visibility: visible;*/
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    &>h1{
        color: #50aef1;
    }

}


main{
      /*ocupar espacio del padre body*/
    flex: 3 3 100%;

    h2{
        padding-top: 50px;
    }

    /*estilos de items*/
    .popular-destinations{/*contenedor principal donde esta titulo de galeria y galeria*/
        display: flex;
        flex-direction: column;
        /**eje principal vertical*/
            align-items: center;
            justify-content: space-around;
           

        /*contendor destinations-grid contiene los contenedores que contienen los contenedores de tarjeta*/
        .destinations-grid{
            display: flex;
            /*wrap para que las tarjetas puedan fluir si el espacio no es sufieciente*/
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            /*contenedor destination-card contiene el contenedor tarjeta*/
            
            .destination-card{
              
               
                background-color: #fff;
                padding: 20px;
                border-radius: 15px;
                box-shadow: 5px 5px 10px #e5e5e5;

                .card-content{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 300px;
                    flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 300px;

                    h3{
                        color: #2c3e50;
                    }

                }
            }
        }
    }
}




.main-footer{
    flex:0.3 0.3 100%;/*tamaño inicial crecimiento y deccrecimiento*/ 
    background-color: #2c3e50;
    color: #f4f4f4;
    /*centrar en vertical*/
     align-items: center;
    /*aplicamos display flex*/
    display: flex;
    justify-content: space-around;/*distribuye espacio entre los elementos pero con menos espacio en los extremos*/
    /*enlaces footer*/
    .social-links{
        font-weight: 600;
        display: flex;
        /*sseparacion entre elementos*/
        gap: 15px;
    }
}


/*

    .popular-destinations{/*contenedor principal de elementos
        display: flex;
        flex-direction: column;
        /*justificar en eje secundario horizontal
        
        /*justificar en eje principal vertical
        align-items: center;
        /*contenedor principal de galeria
        .destinations-grid{
            display: flex;
            flex-wrap: wrap;
            /*width: 1200px;/*ancho para el contenedor de las tarjetas
            gap: 15px;
            justify-content: center;/*justificar elementos eje principal horizontal
            /*contenedor de tarjeta
            .destination-card{
                background-color: #fff;
                
                /*contenido de tarjeta
                .card-content{
                    display: flex;
                    flex-direction: column;
                    /*tamaño 
                    flex: 1 1 50px;
                }
            }
        }

    }*/